<div class="row">

  <!--MENU INICIAL-->
  <div class="col-lg-6">
    <h1>AQUI NO VA NADA</h1>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-md-1">Musica</div>
      <div class="col-md-1">Audio Latino</div>
      <div class="col-md-1">Ver los Simpsons</div>
      <div class="col-md-1">Facebook</div>
      <div class="col-md-1">Twitter</div>
      <div class="col-md-1">
        AQUI EL COMPONENTE INGRESAR
      </div>
    </div>
  </div>

  <!--MENU PRINCIPAL-->

  <div class="row">
    <div class="col-md-5">
      espacio muerto, tal vez el logo de la pagina</div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-lg-1">HOME</div>
        <div class="col-lg-1">ESTRENOS</div>
        <div class="col-lg-1">SERIES</div>
        <div class="col-lg-1">DMCA</div>
        <div class="col-lg-1">DESCARGA</div>
      </div>
    </div>
    <div class="col-md-2">
      AQUI EL COMPONENTE BUSCAR
    </div>
  </div>

  <!--PELICULAS ESTRENO PROXIMAMENTE-->
  <div class="col-md-6">
    <h1>PROXIMAMENTE 1</h1>
  </div>
  <div class="col-md-6">
    <h1>PROXIMAMENTE 2</h1>
  </div>


  <!--PELICULAS ESTRENADAS-->
  <div class="col-sm-3">
    <H1>PELI 1</H1>
  </div>
  <div class="col-sm-3">
    <H1>PELI 2</H1>
  </div>
  <div class="col-sm-3">
    <H1>PELI 3</H1>
  </div>
  <div class="col-sm-3">
    <H1>PELI 4</H1>
  </div>
</div>
