
.sa-titulo{
  color: rgba(237, 235, 62, 0.2);
  background-color: #000;
  border-style:solid;
  border-color:#fff;
  border-width: 4px;
}

/*.sa-subtitulo{*/
  /*color: rgba(61, 132, 237, 0.27);*/
  /*background-color: #1c1771;*/
  /*border-style:solid;*/
  /*border-color:#0aa202;*/
  /*border-width: 4px;*/
/*}*/
